.Q-box{
    background-color: #00014966;

}

.bgd-1{
    position: fixed;  height: 100vh; width: 100%;  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5) 10%, rgba(0, 0, 0, 0.5) 90%, rgba(0, 0, 0, 0.2) 100% ), url('images/background1.png') no-repeat center center fixed; 
    background-size: cover;
}

.picL:hover{
    transform: rotate(0deg), scale(1.1);
    
}

.picL{
    transform: rotate(5deg);
    transition-duration: 0.5s;
    border: 3px solid #00014966;
}

.pics-select:checked + label{
    transform: scale(1.1);
}